pkgbase = godot-hub-bin
	pkgdesc = Desktop app for managing Godot Engine versions and projects
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/ismailivanov/godot-hub
	arch = x86_64
	license = MIT
	provides = godot-hub
	conflicts = godot-hub
	source = GodotHub-Linux.zip::https://github.com/ismailivanov/godot-hub/releases/download/v1.2/GodotHub-Linux.zip
	source = godot-hub.png::https://raw.githubusercontent.com/ismailivanov/godot-hub/v1.2/icon.png
	source = LICENSE::https://raw.githubusercontent.com/ismailivanov/godot-hub/v1.2/LICENSE
	source = godot-hub.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = godot-hub-bin
