pkgbase = godot-hub-bin
	pkgdesc = Desktop app for managing Godot Engine versions and projects
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/ismailivanov/godot-hub
	install = godot-hub-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = godot-hub
	conflicts = godot-hub
	source = godothub-1.3.1.svg::https://raw.githubusercontent.com/ismailivanov/godot-hub/v1.3.1/assets/logo/logo.svg
	source = LICENSE-1.3.1::https://raw.githubusercontent.com/ismailivanov/godot-hub/v1.3.1/LICENSE
	source = godot-hub.desktop
	source = godot-hub-bin.install
	sha256sums = 3f4e46e17ce981776edaacd2b534a49746bb09cd189f7ac08bb7334e0d95e555
	sha256sums = ef92b4be2ed32e2d785634bfe8e9cf157e9069ffcb3e5ef8ecac4244355e8852
	sha256sums = 00d7dc9a289643902a5edcb3d0eb4c8b62102144eb06b729fcbd367f36a25500
	sha256sums = 626515c6b3bc25581210fb80ab43d8fb8d6655e5253152db9ce4991380e9e4bd
	source_x86_64 = GodotHub-Linux-1.3.1.zip::https://github.com/ismailivanov/godot-hub/releases/download/v1.3.1/GodotHub-Linux.zip
	sha256sums_x86_64 = 64596b8032df78a1676c7185f6c69c2e4042bbf7ffe88a158652d935bf23e7b6
	source_aarch64 = GodotHub-Linux-arm64-1.3.1.zip::https://github.com/ismailivanov/godot-hub/releases/download/v1.3.1/GodotHub-Linux-arm64.zip
	sha256sums_aarch64 = 88eb779eb15cf90dfb91decd30fda39d9af6430847076052acf5756460f5a44d

pkgname = godot-hub-bin
